<div class="main-container">
  <div *ngIf="registroExitoso" class="registrado-success success animate__animated animate__fadeInLeft">
    <h3>Usuario Registrado Correctamente</h3>
  </div>
<div class="container-form animate__animated animate__fadeInLeft">
  <mat-card class="form-login">

    <h1 class="text-center">Registrar Usuario</h1>
    <mat-card-content>

      <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="error" *ngIf="error">
            <p>El usuario ya existe!</p>
        </div>

        <mat-form-field appearance="fill" color="warn" class="form_field">
          <mat-label>Usuario</mat-label>
          <input matInput
                 required
                 name="usuario"
                 [(ngModel)]="usuarioRegister.usuario"
                 #usuario="ngModel"
                 >
          <button mat-icon-button matSuffix type="button" (click)="usuarioRegister.usuario=''">
            <mat-icon >clear</mat-icon>
          </button>
          <mat-error *ngIf="usuario.invalid">El campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="warn" class="form_field">
          <mat-label>Nombre</mat-label>
          <input matInput
                 required
                 name="nombre"
                 [(ngModel)]="usuarioRegister.nombre"
                 #usuario="ngModel"
                 >
          <button mat-icon-button matSuffix type="button" (click)="usuarioRegister.usuario=''">
            <mat-icon >clear</mat-icon>
          </button>
          <mat-error *ngIf="usuario.invalid">El campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="warn" class="form_field">
          <mat-label>Email</mat-label>
          <input matInput
                 required
                 name="mail"
                 [(ngModel)]="usuarioRegister.mail"
                 #usuario="ngModel"
                 >
          <button mat-icon-button matSuffix type="button" (click)="usuarioRegister.usuario=''">
            <mat-icon >clear</mat-icon>
          </button>
          <mat-error *ngIf="usuario.invalid">El campo es requerido</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" color="warn" class="form_field">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
                 name="password"
                 required
                 minlength="3"
                 [(ngModel)]="usuarioRegister.password"
                 #password="ngModel"
                 >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <!-- <mat-error *ngIf="password.invalid">El campo es requerido</mat-error> -->
        </mat-form-field>

        <div class="form_field form_field--submit">
          <button  mat-raised-button color="primary" [disabled]="form.status == 'INVALID'" mat-button color="warn"> Ingresar</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

</div>
