<div class="container" *ngIf="perfil">
  <app-header [drawer]="drawer" [perfil]="perfil" ></app-header>

</div>
<mat-drawer-container class="example-container"autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="navigation" >
      <mat-nav-list>
        <mat-list-item class="mat-item">
          <a routerLink="usuarios">
            <mat-icon class="icon-size mat-icon">supervisor_account</mat-icon> Obtener Usuarios

           </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="registrar-usuario">
            <mat-icon class="icon-size mat-icon">how_to_reg_</mat-icon>
            Registrar Usuario
          </a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icon-size mat-icon">restore</mat-icon>
          Cambiar Contraseña
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icon-size mat-icon" >lock_open</mat-icon>
          Forzar Contraseña
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icon-size mat-icon">warning</mat-icon>
          Dar de Baja Usuario
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icon-size">work</mat-icon>
          Eventos
        </mat-list-item>

     </mat-nav-list>

    </mat-list>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
